.footer {
	position: fixed;
	left: 16px;
	bottom: 16px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 8px 24px;
	border-radius: 4px;
	opacity: 0.9;
	backdrop-filter: blur(10px);
	color: white;

	& span {
		font-size: 14px;
		display: flex;
	}

	& h4,
	h5 {
		margin: 0;
		display: flex;
	}
}
